/* File: styles.css */
body {
    background-color: #f2f2f2;
    font-family: monospace;
}

.container {
    margin: 20px auto;
    background-color: #fff;
    min-width: 380px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 20%;
    position: relative;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    background-color: #ffffff;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    font-family: monospace;
}

th {
    background-color: #535353;
    color: white;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

legend {
    background-color: #FFFFFF;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1.2em;
    text-decoration: underline;
}

.form-group {
    margin-bottom: 15px;
    text-align: center;
}

.control-label {
    text-align: left;
    display: block;
    margin-bottom: 5px;
}

.help-block {
    color: #737373;
    font-size: 0.875em;
    margin-top: 5px;
}

.error-message {
    color: red;
    font-weight: bold;
    margin-top: 10px;
}

.fixed-header .header {
    background-color: lightgrey;
    font-weight: bold;
    font-size: 1em;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
}

.ui-autocomplete {
    max-width: 100%;
    left: 41.25% !important;
    transform: translateX(0%);
}

.autocomplete-item.header {
    background-color: lightgrey;
    pointer-events: none;
    width: 315px;
    text-align: right;
}

.autocomplete-item {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    border-bottom: 1px solid #ddd;
    font-family: monospace;
    font-size: 1em;
    width: 315px;
    margin: 10 auto;
}

.autocomplete-item strong.bhajan-name {
    flex: 2;
    text-align: left;
}

.autocomplete-item span.shruthi,
.autocomplete-item span.last-sung {
    text-align: right;
    width: 50px;
}

.ui-datepicker {
    left: 50% !important;
    transform: translateX(-50%);
}

.form-check {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    margin-left:120px;
    gap: 5px; /* Optional: Adjust spacing between radio and label */
}

.form-check-inline {
    margin-right: 10px; /* Space between each radio input group */
}

/* .form-check input[type="radio"] {
    margin-right: 110px;
    width: 15px;
}
.form-check div {
    display: flex;
    align-items: center;
}

.form-check label {
    margin-left: 0;
} */

fieldset {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

h1 {
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    font-size: 2em;
}

.elegant-line {
    margin-top: 10px;
    margin-bottom: 20px;
    border: none;
    height: 1px;
    background: #999;
    position: relative;
}

.elegant-line::before {
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    color: #666;
    font-family: 'serif';
}

@media (max-width: 450px) {
    .container {
        width: 80%;
        padding: 10px;
    }
    legend {
        background-color: #FFFFFF;
        color: black;
        padding: 5px 10px;
        border-radius: 5px;
        font-size: 1.2em;
        text-decoration: underline;
        font-weight: bold;
    }
    input, select {
        width: 100%;
        padding: 8px;
        box-sizing: border-box;
    }
    .ui-autocomplete {
        max-width: 80%;
        left: -5% !important;
        transform: translateX(20%);
    }
    .form-check {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
    }
    .form-check label {
        margin-left: -80px;
        align-items: left;
    }
}
